
<div class="cart-empty-container">
    <div class="cart-header">
        <img src="assets\images\favorite-star.png" alt="עגלת קניות" class="cart-icon" />
        <span class="cart-title">רשימת המועדפים שלך ריקה</span>
    </div>
    <div class="cart-subtitle">
        מומלץ להוסיף את הפריטים הרצויים
    </div>
    <button class="main-btn" type="button" (click)="goToLogin()">התחברות/הרשמה</button>
    <button class="secondary-btn" type="button" (click)="goToProducts()">מעבר לקנייה</button>
</div>
