
// 1. ========= משתנה לעיצוב ==========
// נגדיר פה משתנים קבועים - לדומה נרצה להתמש בצבע קבוע בכל הפרויקט
// נגדיר פה את הצבע הרצוי ובכל מקום בקוד שנרצה נשתמש בצבע
// *** כך נגדיר את המשתנה: ***
// $blueColor : blue ;
// כאשר נרצה להשתמש בקוד נכתוב
// color: שם המשתנה;

// 2. ========= תבנית עיצוב ============
// כאשר יש לנו צירוף של עיצוב שחוזר על עצמו נגדיר לזה תבנית
// וכך נוכל לשתול אותו בקוד ולעצב בקלות
// *** כך נגדיר את התבנית: ***

// @mixin - שם שמור
// myFlex - שם שאנחנו ניתן לתבנית
// @mixin myFlex($bg){
//     -- פה נגדיר את כל מה שאנחנו רוצים שיהיה בתבנית
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     align-items: center;
//     background: $bg ;
// }

// נוכל לקבל בתוך הסוגריים משתנים ולשתול אותם בתוך התבנית
// כאשר נרצה להשתמש בזה, נקרא לזה כך
// @include myFlex(נביא את המשתנים שהגדרנו)


// ========= תבניות עיצוב ===========
// flex תבנית עיצוב ל 
@mixin myFlex($fd : row, $fw : wrap, $ac : normal, $jc : normal, $ai : normal){
  display: flex;
  flex-direction: $fd;
  flex-wrap: $fw;
  align-content: $ac;
  justify-content: $jc;
  align-items: $ai;
}